@import "../global";

.grid-container {
  margin: 2rem 5rem;
  padding: 4rem;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 4rem;
  background-color: $back-color;
  border-radius: 10px;
}

@media screen and (max-width: 1024px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding: 2rem;
  }
}

@media screen and (max-width: 798px) {
  .grid-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 1rem;
    padding: 0;
    gap: 1rem;
    background-color: #ffff;
  }
}
