@import "../global";

.house {
  color: $primary-color;
  margin: 2rem 5rem;

  &-flex {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
  }

  &__intro {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 60%;

    &_title {
      margin-bottom: 1rem;
      h2 {
        font-size: 36px;
        font-weight: 500;
        margin: 0.2em 0;
      }
      p {
        font-size: 18px;
        margin: 0.2em;
      }
    }

    .tag-container {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
    }

    &_name {
      display: flex;
      justify-content: space-between;
      align-items: center;

      img {
        border-radius: 50%;
        width: 64px;
        height: 64px;
      }

      span {
        width: 50%;
        text-align: end;
        font-size: 18px;
      }
    }
  }

  &__ratag {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .rating-container {
      .rating-star {
        margin: 0.3em;
        font-size: 24px;
        .not-filled {
          color: #e3e3e3;
        }
      }
    }
  }

  &__collapsible {
    display: flex;
    justify-content: space-between;
    width: 100%;
    .collapse-container {
      width: 48%;
      margin: 0;

      &_message {
        font-size: 18px;
        padding: 1.5em 1em;
      }
    }
  }
}

@media screen and (max-width: 798px) {
  .house {
    margin: 2rem 1rem 5rem;
  }

  .house-flex {
    flex-direction: column;
  }
  .house__intro {
    width: auto;
    margin-bottom: 0.6rem;
  }
  .house__intro_title {
    h2 {
      font-size: 22px;
    }
    span {
      font-size: 16px;
    }
  }
  .house__ratag {
    flex-direction: row-reverse;
  }
  .house__collapsible {
    flex-direction: column;
    .collapse-container {
      width: 100%;
      margin: 0.8rem 0;
    }
  }
}
