@import "../global";

.house {
  color: $primary-color;
  margin: 2rem 5rem;

  &__intro {
    display: flex;
    justify-content: space-between;

    &_title {
      h2 {
        font-size: 36px;
        font-weight: 500;
        margin: 0.2em 0;
      }
      p {
        font-size: 18px;
        margin: 0.2em;
      }
    }

    &_name {
      display: flex;
      justify-content: space-between;
      align-items: center;

      img {
        border-radius: 50%;
        width: 64px;
        height: 64px;
      }

      span {
        width: 50%;
        text-align: end;
        font-size: 18px;
      }
    }
  }

  &__ratag {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1em 0;

    .tag-container {
      display: flex;
      align-items: center;
    }

    .rating-container {
      .rating-star {
        margin: 0.3em;
        font-size: 24px;
        .not-filled {
          color: #e3e3e3;
        }
      }
    }
  }

  &__collapsible {
    display: flex;
    justify-content: space-between;
    width: 100%;
    .collapse-container {
      width: 48%;
      margin: 0;

      &_message {
        font-size: 18px;
        padding: 0.6em 1em;
      }
    }
  }
}
