.chevron {
  &_left {
    cursor: pointer;
    margin-top: 8rem;
    position: absolute;
    font-size: 140px;
    font-weight: 700;
    color: #fff;
  }
  &_right {
    cursor: pointer;
    margin-top: 8rem;
    right: 5rem;
    position: absolute;
    font-size: 140px;
    font-weight: 700;
    color: #fff;
  }
  img {
    margin: 1rem 0;
    height: 415px;
    border-radius: 10px;
    display: flex;
    width: 100%;
    object-fit: cover;
  }
  .number {
    width: calc(100% - 10rem);
    text-align: center;
    margin-top: 23rem;
    position: absolute;
    font-weight: 500;
    font-size: 18px;
    color: #ffffff;
  }
}

@media screen and (max-width: 798px) {
  .chevron_left {
    margin-top: 11rem;
    font-size: 60px;
  }
  .chevron_right {
    margin-top: 11rem;
    font-size: 60px;
    right: 1rem;
  }
  .number {
    display: none;
  }
}
