@import "../global";

.collapse-container {
  display: flex;
  flex-direction: column;
  margin: 0 0 1rem;
  padding: 0;

  &_toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 0.7em;
    border-radius: 5px;
    border-color: $primary-color;
    background-color: $primary-color;
    font-size: 22px;
    color: #ffffff;
    cursor: pointer;
  }
  &_message {
    color: $primary-color;
    font-size: 24px;
    font-weight: 400;
    padding: 0.6em;
    margin: 0;
    background-color: $back-color;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
}

@media screen and (max-width: 767px) {
  .collapse-container {
    margin: 1.3rem 0;
  }
  .collapse-container_message {
    font-size: 16px;
  }
}
