@import "../global";

.header {
  display: flex;
  justify-content: space-between;
  margin: 2rem 5rem;
  align-items: center;
  &__logo {
    width: 150 px;
  }
  &__nav {
    &__ul {
      list-style-type: none;
      display: flex;
    }
    &_link {
      color: $primary-color;
      text-decoration: none;
      margin: 15px;
      font-size: 24px;
      font-weight: 500;
    }
    &_link:hover {
      text-decoration: underline;
    }
  }
}
