@import "../global";

.tag {
  border: 1px solid;
  border-radius: 10px;
  background-color: $primary-color;
  color: #fff;
  padding: 0.3em 1em;
  margin-right: 0.3em;
  &_span {
    font-size: 14px;
  }
}
